@model IEnumerable<GB.Models.GameHole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CourseHole
        </th>
        <th>
            TotalHits
        </th>
        <th>
            Putts
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseHole.HoleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalHits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Putts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameHoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameHoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameHoleID })
        </td>
    </tr>
}

</table>
