@model GB.Models.Game
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Game</legend>
        @Html.HiddenFor(model => model.GameID)
        @Html.HiddenFor(model => model.Marker)
        <div class="editor-label">
            @Html.LabelFor(model => model.GolfCourseID, "GolfCourse")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GolfCourseID", String.Empty)
            @Html.ValidationMessageFor(model => model.GolfCourseID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Rounds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rounds)
            @Html.ValidationMessageFor(model => model.Rounds)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
