@model IEnumerable<GB.Models.GolfCourse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            GolfClub
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Par
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GolfClub.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Par)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GolfCourseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GolfCourseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GolfCourseID })
        </td>
    </tr>
}

</table>
