@model GB.Models.CourseHole

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CourseHole</legend>

        @Html.HiddenFor(model => model.CourseHoleID)

        <div class="editor-label">
            @Html.LabelFor(model => model.GolfCourseID, "GolfCourse")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GolfCourseID", String.Empty)
            @Html.ValidationMessageFor(model => model.GolfCourseID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoleNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoleNumber)
            @Html.ValidationMessageFor(model => model.HoleNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HolePar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HolePar)
            @Html.ValidationMessageFor(model => model.HolePar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoleLength)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoleLength)
            @Html.ValidationMessageFor(model => model.HoleLength)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoleHCP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoleHCP)
            @Html.ValidationMessageFor(model => model.HoleHCP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoleDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoleDescription)
            @Html.ValidationMessageFor(model => model.HoleDescription)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
